Package: io.github.virenmohindra.a-wave
Name: A Wave - Springy BootLogo
Depends: com.aditkamath.springy
Version: 1.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
