Package: io.github.virenmohindra.infinicube
Name: InfiniCube - Springy BootLogo
Depends: com.aditkamath.springy
Version: 1.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy. Credit: /u/Jalen2612
Depiction: http://virenmohindra.github.io/depictions/InfiniCube
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
