Package: io.github.virenmohindra.blue
Name: Blue - Springy BootLogo
Depends: com.aditkamath.springy
Version: 1.0
Architecture: iphoneos-arm
Description: Animated respring theme for Springy. Credit: /u/PONCE54958
Depiction: http://virenmohindra.github.io/depictions/Blue
Maintainer: Viren Mohindra <viren.mohindra@gmail.com>
Author: Viren Mohindra <viren.mohindra@gmail.com>
Section: Addons (Springy)
